[submodule "computer-graphics-shared"]
	path = computer-graphics-shared
	url = https://github.com/alecjacobson/computer-graphics-shared
[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
